/* custom css */


/*customizing buttons size and spacing e.g. home page below the "JOIN US" message /medicine/ centering is achieved with a nested spiff row within the wysiwyg snippet */
span.btngrpcenter {
	width: 20rem;
	margin-left: auto;
	margin-right: auto;

}

/*customizing buttons size and spacing e.g. home page below the "JOIN US" message /medicine/ centering is achieved with a nested spiff row within the wysiwyg snippet */
div.btngrpcenter {
	width: 20rem;
	margin-left: auto !important;
	margin-right: auto !important;

}

/* Stylizing text and buttons overlaying the hero image to have a shadow for contrast to the hero image for better readability */
.backlight {
	text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
	color: #fff;
}

.hero-text ul li a {
	box-shadow: 0 0 20px #333333;
}

/* Stylizing sub-footer blocks for contact information to align vertically to the top of the table cell */
.subfooter {
	vertical-align: top;
}

/* WHY WHY WHY */
/* WHY WHY WHY */
/* WHY WHY WHY */
#why-uh-com h3 {
    text-transform: uppercase;
}
#why-uh-com #why-container .row {
    padding-bottom: 2rem;
		height: auto;
    display: flex;
}
#why-uh-com .col-md-4 {
    text-align: right;
}
@media (max-width:991px) {
	#why-uh-com .col-md-4 {
	    text-align: left;
	}
	#why-uh-com #why-container .row {
	    padding-bottom: 2rem;
	    display: block;
	}
}
#why-uh-com svg {
    height: 250px;
    width: 250px;
    padding: 3rem;
    background-color: #00b388;
		fill:#fff;
}
.why-uh-com img {
    height: 250px;
    width: 250px;
}
.col-md-8 {
    margin-top: auto;
    margin-bottom: auto;
}
