#mission p{
    font-size:1.6rem;
    line-height:2.25rem;
}
#top-50{ /*This is the vision section */
    background-color:#F2F2F2;
    display:block;
        text-align:left;
color:#000;
padding-bottom:4.5%;
    }



.vision-container{
display:flex;
align-items:center;}

@media (max-width:767px) {
.vision-container{
    display: inline-block!important;
}

#top-50{ /*This is the vision section */

padding-bottom:9.5%;
    }
}



@media screen and (max-width: 767px) {
.vision-body h2{
padding-top:0;
margin-top:0;}
}

.vision-body {
  position:relative;
}

p.vision-paragraph{
  font-size:0.8em;
  line-height:1.3;
  padding-bottom:0;
  margin-bottom:0;
}
@media screen and (max-width: 767px) {
 p.vision-paragraph{
   text-align:left;
   margin-top:10px;
}

}
.vision-p-container {
margin-top:-110px;
}

@media screen and (max-width: 1199px) {
 p.vision-paragraph{
   text-align:left;
   margin-top:10px;
}
.vision-p-container {
margin-top:0px!important;
}
}


.values-item {
background-color:#F4F4F4;    border:#fff 8px solid;
padding:0;
}
.grey-border{
}
.values-item h4 {
    font-family:'Milo', sans-serif;
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:.7rem;
    background-color:#000;
    color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
    min-height:auto;
    text-align:center;
    padding:1rem;
    text-transform:uppercase;
}

.values-item-container {
   /* border-top:#000 solid 5px; */
    border-bottom:#dadada solid 1.5px;
    margin:1.5rem;
background-color:#F4F4F4;
}


@media screen and (max-width: 767px) {
  #top-50 .white-border h2{
    font-size:16vw;
}


.values-item-container {
    min-height:100%;
    
}
.values-item h4 {
 min-height:5rem;
 
}
}

@media screen and (min-width: 768px) {
.values-item-container {
    min-height:17.5rem;
}
.values-item h4 {
 min-height:5.2rem;
}

}


@media screen and (min-width: 992px) {
.values-item-container {
    min-height:15.6rem;
}


}







@media screen and (min-width: 1200px) {
.values-item-container {
    min-height:25.5rem; 

}
.values-item h4 {
 min-height:8.6rem;
}


}




}


@media screen and (min-width: 1221px) {
.values-item-container {
    min-height:22rem;
}


}

@media screen and (min-width: 1373px) {
.values-item-container {
    min-height:19rem;
}

.values-item h4 {
 min-height:5.6rem;
}


}


/*BRITTANY'S ADDITION*/
#top-50 .container .col-auto #vision-blurb {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#top-50 .container .col-auto {
    position: relative;
}