#together, #we-are, #possible, #fountain, #building-top-50 {
height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:45rem;
	background-position: center;
  }

 #print a {
	 display: block;
	 padding-top: .5rem;
	 padding-bottom: .5rem;
}
 #print {
	 background-color: #fff9d9;
	 text-align: center;
	 font-size: 1.25rem;
	 padding: 0;
}
 #print .col-auto, #print .container {
	 padding: 0 1rem;
}
 @media (max-width:500px) {
	 #print {
		 font-size: 1.125rem;
	}
}
  .together-container {
text-align:center;
  }

  .together-container svg{
width:50vw;
}
.together-container svg g text {
font-family: 'Milo', sans-serif;
}
@media (max-width: 1024px) {

  .together-container svg{
width:70vw;
margin-left:2rem;
}
}



#we-are {
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.00), #000),
    url('https://uh.edu/strategic-plan/_img/uh-cougar-statue.jpg');
    background-size: cover;
    color: white;
    padding: 20px;
}

/** Adds padding to fix scaling issues over 120% **/
#possible .container {
    padding: 1rem 0;
}

#building-top-50 .goal-container{
  background-color:none!important;
}
/* ******** Displays/HIDES MOBILE ID'S ******************** */
/* ******** Displays/HIDES MOBILE ID'S ******************** */
/* ******** Displays/HIDES MOBILE ID'S ******************** */

/*** COUGAR STATUE ***/ 
  @media (max-width: 1024px) {
     #we-are .col-md-5 {
        display: none;
    }
 #we-are {
    background-image: url('https://uh.edu/strategic-plan/_img/uh-cougar-statue.jpg');
  background-size:cover;
    color: white;
    padding: 20px;
    height:100vh;
    max-height:800px;
}
      #we-are-mobile {
        display: block;
        background-color:#000;
        color:#fff;
    }
          #we-are-mobile .col-sm-12{
   margin-left:10%;
    }
}
@media (min-width: 1025px) {

     #we-are-mobile {
        display: none;
    }
}
@media (max-width: 767px) {
          #we-are-mobile .col-sm-12{
            margin-top:-5%;
            margin-bottom:-5%;
   margin-left:0%;
    }
}



/*** IMPOSSIBLE/POSSIBLE ***/ 
  @media (max-width: 1024px) {
     #possible .col-md-4 {
        display: none;
    }
#possible  {
       background-image: url('https://uh.edu/strategic-plan/_img/uh-sculpture-scholarship.jpg');
       background-size:cover;
       color: white;
       padding: 20px;
       height:100vh;
       max-height:800px;
}
      #possible-mobile {
        display: block;
        background-color:#fff;
        color:#000;
    }
          #possible-mobile .col-sm-12{
   margin-left:10%;
    }
}

@media (max-width: 767px) {
         #possible-mobile .col-sm-12{
            margin-top:-5%;
            margin-bottom:-5%;
   margin-left:0%;
    }
}

@media (min-width: 1025px) {
 #possible-mobile {
        display: none;
    }
}
 @media (max-width: 1024px) {
     #fountain .col-md-12 {
       text-align:center;
      bottom:4%;
      left:0;
      right:0;
    }
#fountain {
    background-size:cover;
    height:100vh;
    max-height:800px;
}
  }
  
  @media (max-width: 1024px) {

 #top-tier div.col-auto, #nationally-competitive div.col-auto, #top-tier div.col-auto, #social-responsibility div.col-auto, #athletics-program div.col-auto, #competitive-funding div.col-auto{
  display:block;
  max-height:100%;
  height:100%;
}
  }

#possible span.possible{
  font-style:italic;
  font-size:4.5rem;
  font-family: 'Crimson';
  line-height:1;
  display:block;
  margin-bottom:3.5rem;
}
#possible-mobile span.possible{
  font-style:italic;
  font-size:4.5rem;
  font-family: 'Crimson';
  line-height:1;
  display:block;
  margin-bottom:3.5rem;
}

 #building-top-50 {
   color:#fff;
 }
 

a:link.goals-read-more, a:visited.goals-read-more {
    padding: 1rem 1rem;
    font-weight:bold;
    font-size:1.25rem;
    display:block;
    max-width:100%;
    background-color:#fff;
    text-align:center;
    color:#c8102e;
    line-height:1.5;
}
a:hover.goals-read-more{
    background-color:#fff9d9;
    transition: background-color .5s ease;
}

a:link.cta-button, a:visited.cta-button{
    margin:0 auto;
    padding: 1.25rem 4rem;
    font-weight:bold;
    font-size:1.25rem;
    display:block;
    max-width:30rem;
    background-color:#c8102e;
    text-align:center;
    color:#fff!important;
}
a:hover.cta-button{
    background-color:#960c22;
    transition: background-color .5s ease;
}

/*.fountain-container a:link, .fountain-container a:visited {
  color:#fff9d9;
}
.fountain-container a:hover{
  color:#f6be00;
}*/

 #social-responsibility a:link.goals-read-more,  #social-responsibility a:visited.goals-read-more{
	 background-color:#c8102e;
	 color:#fff9d9;
}
 #social-responsibility a:hover.goals-read-more{
	 background-color:#960c22;
	 transition: background-color .5s ease;
}

/***** GOALS *****/

/* Images for goals */


 #top-tier .hero-photo, #nationally-competitive .hero-photo, #top-tier .hero-photo, #social-responsibility .hero-photo, #athletics-program .hero-photo, #competitive-funding .hero-photo{
  height:100vh;
  min-height:900px;
  align-self:flex-start;
 }


	#top-tier .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/uh-graduate-student.jpg') no-repeat scroll center center;
    background-size:cover;
    display:block;
}
#nationally-competitive .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/microscope.jpg') no-repeat scroll center center;
    background-size:cover;
    display:block;
}
#social-responsibility .hero-photo {
  background: url('https://uh.edu/strategic-plan/_img/father-holding-daughter.jpg') no-repeat scroll center center;
    background-size:cover;
    display:block;
}
#athletics-program .hero-photo {
  background: url('https://uh.edu/strategic-plan/_img/uh-athletics.jpg') no-repeat scroll center center;
  background-size:cover;
    display:block;
}
#competitive-funding .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/uh-student-walking-upstairs.jpg') no-repeat scroll center center;
    background-size:cover;
    display:block;
}
/* ENDS Images for goals */

#top-tier, #athletics-program {
  background-color: #043057;
}

#nationally-competitive {
  background-color:#54585a;
}
#competitive-funding {
   background-color:#000000;
   color:#fff;
}
#nationally-competitive, #top-tier, #social-responsibility, #athletics-program, #competitive-funding {
padding:0;
}

#top-tier .container, #nationally-competitive .container, #social-responsibility .container, #athletics-program .container, #competitive-funding .container{
max-width:2000px;
margin:0;
padding:0;
}

#top-tier div.col-auto {
background-color:#c8102e;
}

 #we-are {
   color:#fff;
 }

 #we-are .col-md-5 {
   padding-left:3.5rem;
   padding-top:2rem;
   right:-4rem;
 }

  #we-are p {
    padding-bottom:2rem;
  }

  #fountain{
    color:#fff;
    position: relative;
  }

  #fountain .fountain-container {
     position: absolute;
     bottom:2%; 
     line-height:1.5;
     left:0;
     text-align:center;
  }
  .goal-container.red {
  background-color:#c8102e;
}

 .goal-container.red p.goal-number,  .goal-container.red h3{
color:#fff;}



.goal-container{
 align-self:center;
 padding:0 3%;
}

.goal-container p.goal-number {
  text-transform:uppercase;
  font-family: 'Crimson';
   font-weight:100;
}
.goal-container h2 {
  font-style:italic;
  font-size:2.7rem;
  font-family: 'Crimson';
}
.goal-container h3 {
  font-style:italic;
  font-size:3.9rem;
  font-family: 'Crimson';
  width:100%;
  line-height:1.1;
  /* margin-top:4rem; */
  margin-bottom:5rem;
}


/* IPAD PRO LANDSCAPE */
/* IPAD PRO LANDSCAPE */
/* IPAD PRO LANDSCAPE */

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      
#building-top-50 .goal-container {
  padding:0 1.5rem;
}

.goal-container {
  align-items:center;
  padding:0 .5rem;
/*   margin-left:4rem; */
  padding: 0 2rem;
}
 #top-tier div.col-auto, #nationally-competitive div.col-auto, #top-tier div.col-auto, #social-responsibility div.col-auto, #athletics-program div.col-auto, #competitive-funding div.col-auto{
  display:flex;
  align-items:center;
  padding-left:0;
}

}

/* IPADS Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
.goal-container {
  align-items:center;
  padding:0 .5rem;
/*   margin-left:4rem; */
  padding:0 1rem;
}
}

/* IPHONE X Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.goal-container {
  align-items:center;
  padding:0 .5rem;
  margin-left:0rem;
  padding:0 1rem;
}
}



/* IPAD PRO Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) { /** GOALS FOR TABLET RESTYLES ****/

 #top-tier div.col-auto, #nationally-competitive div.col-auto, #top-tier div.col-auto, #social-responsibility div.col-auto, #athletics-program div.col-auto, #competitive-funding div.col-auto{
  display:flex;
  align-items:center;
padding-left:0;
}


.goal-container {
  align-items:center;
padding:0 .5rem;
/* margin-left:4rem; */

}
.goal-container h3 {
  font-size:4rem;
  width:100%;
  margin-top:2rem;
  margin-bottom:3rem;
}
.goal-container h2 {
  font-size:3rem;
}
a:link.goals-read-more {
  margin:auto 0;
font-size:1.1rem;
}
a:link.cta-button{
    padding: 1.2rem 1rem;
    font-size:1.1rem;
    max-width:600px;

}
/**** Image focuses for GOAL HERO IMAGES FOR mobile devices ***/
 #top-tier .hero-photo, #nationally-competitive .hero-photo, #top-tier .hero-photo, #social-responsibility .hero-photo, #athletics-program .hero-photo, #competitive-funding .hero-photo{
 height:100vh;
 max-height:800px;
 }
#top-tier .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/uh-graduate-student.jpg') no-repeat scroll 0% 0%;
    background-size:cover;
  display:block;
}
#nationally-competitive .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/microscope.jpg') no-repeat scroll 50% 0%;
    background-size:cover;
    display:block;
}
#social-responsibility .hero-photo {
  background: url('https://uh.edu/strategic-plan/_img/father-holding-daughter.jpg') no-repeat scroll;
    background-size:cover;
    display:block;
}
#athletics-program .hero-photo {
  background: url('https://uh.edu/strategic-plan/_img/uh-athletics.jpg') no-repeat scroll top left;
    background-size:cover;
  display:block;
}
#competitive-funding .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/uh-student-walking-upstairs.jpg') no-repeat scroll top center;

    display:block;
}
}


/** IPHONE X/IPAD PORTRAIT **/
/** IPHONE X/IPAD PORTRAIT **/
/** IPHONE X/IPAD PORTRAIT **/
@media (max-width: 400px) { /** GOALS FOR MOBILE RESTYLES ****/
#together {
    max-height:800px;
}
.together-container svg{
  margin:auto;
  width:93vw;}
}


@media (max-width: 991.99px) { /** GOALS FOR MOBILE RESTYLES ****/
#building-top-50 .goal-container {
  display:block;
  top:-12rem;
}

.goal-container {
	margin-top:1%;
	margin-bottom:2%;
	padding:8% 10%;
}
	
#top-tier .goal-container,
#nationally-competitive .goal-container,
#social-responsibility .goal-container,
#athletics-program .goal-container,
#competitive-funding .goal-container {
    margin-left: auto;
    margin-right: auto;
}
	
.goal-container h3 {
  font-size:2.8rem;
  width:100%;
  margin-top:2rem;
  margin-bottom:3rem;
}
.goal-container h2 {
  font-size:2rem;
}
a:link.goals-read-more {
font-size:1.1rem;
}
a:link.cta-button{
    padding: 1.2rem 1rem;
    font-size:1.1rem;
}
/**** Image focuses for GOAL HERO IMAGES FOR mobile devices ***/
#we-are{
  background-position: 35% 0%;
  background-size:cover;
  display:block;
}
#possible{
  background-position: 79% 0%;
  background-size:cover;
  display:block;
}
.fountain-container {
  background: rgba(0, 0, 0, 0.65);}
  
 #top-tier .hero-photo, #nationally-competitive .hero-photo, #top-tier .hero-photo, #social-responsibility .hero-photo, #athletics-program .hero-photo, #competitive-funding .hero-photo{
  height:100vh;
  min-height: 500px;
 }
#top-tier .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/uh-graduate-student.jpg') no-repeat scroll 30% 0%;
  background-size:cover;
  display:block;
}
#nationally-competitive .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/microscope.jpg') no-repeat scroll 50% 0%;
  background-size:cover;
    display:block;
}
#social-responsibility .hero-photo {
  background: url('https://uh.edu/strategic-plan/_img/father-holding-daughter.jpg') no-repeat scroll;
  background-size:cover;
    display:block;
}
#athletics-program .hero-photo {
  background: url('https://uh.edu/strategic-plan/_img/uh-athletics.jpg') no-repeat scroll top left;
  background-size:cover;
  display:block;
}
#competitive-funding .hero-photo{
  background: url('https://uh.edu/strategic-plan/_img/uh-student-walking-upstairs.jpg') no-repeat scroll top center;
  display:block;
}
}




#nationally-competitive .goal-container p.goal-number {
color:#fff;
}
#nationally-competitive .goal-container h2 {
  color:#f6be00;
}
#nationally-competitive .goal-container h3 {
  color:#fff;
}

#social-responsibility .goal-container p.goal-number {
color:#666;
}
#social-responsibility .goal-container h2 {
  color:#c8102e;
}
#social-responsibility .goal-container h3 {
  color:#000;
}

#competitive-funding .goal-container p.goal-number {
  color:#c8102e;
}
#competitive-funding .goal-container h2 {
  color:#fff;
}
#competitive-funding .goal-container h3 {
  color:#c8102e;
}


/* ENDS NEW STYLES FOR REDESIGN */
/* ENDS NEW STYLES FOR REDESIGN */
/* ENDS NEW STYLES FOR REDESIGN */

#process h2.section-heading {
  margin-bottom: 2rem;
}
#process .spp-step span {
  hyphens: auto;
}
#survey #reading h3, #survey #reading p {
    margin: .25rem 0;
}


/*STRATEGIC PLAN PROCESS STRATEGIC PLAN PROCESS*/
/*STRATEGIC PLAN PROCESS STRATEGIC PLAN PROCESS*/
/*STRATEGIC PLAN PROCESS STRATEGIC PLAN PROCESS*/

/*5 EQUAL COLUMNS*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#process .spp-bg-circle {
    background-color: #ffe2ad;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
#process img.spp-icon {

}
#process #spp-1 img.spp-icon,
#process #spp-2 img.spp-icon,
#process #spp-3 img.spp-icon,
#process #spp-4 img.spp-icon,
#process #spp-5 img.spp-icon,
#process #spp-6 img.spp-icon,
#process #spp-8 img.spp-icon,
#process #spp-9 img.spp-icon,
#process #spp-10 img.spp-icon {
    min-width: 100px;
    position: relative;
    left: -10px;
}
#process #spp-6 img.spp-icon {
    max-width: 70px;
        min-width: 70px;

    position: relative;
    left: 5px;
    top: 3px;
}
#process #spp-9 .spp-icon {
    transform: rotate(-20deg);
    position: relative;
    bottom: 10px;
}
#process table {
    border-top: 3px solid #c8102e;
    margin-top: 25px;
    overflow: hidden;
}

#process .spp-number {
    font-family: 'League Gothic';
    font-size: 7rem;
    line-height: 1.1;
    padding: 0 15px;
    border-right: 1px solid #c8102e;
    vertical-align: top;
}
#process .spp-step {
    padding-left: 15px;
    padding-top: 15px;
    vertical-align: top;
    width: 100%;
}
#process .spp-date {
    font-weight: bold;
}
@media (max-width: 991px) {
  #process .spp-bg-circle {
    margin: inherit;
  }
  #process #spp-5 {
    width: 100%;
  }
  #process #spp-5 table {
      width: 100%;
  }
  #process #spp-5 table .spp-number {
      width: 5%;
  }
}

/*PROCESS COMPLETE WITH CHECKMARKS*/
.checkmark {
    color: #c8201e;
    font-size: 6rem;
    display: inline-block;
    position: absolute;
    top: 25px;
}
.spp-bg-circle-complete {
    margin-left: 6.25rem !important;
    display: inline-block;
}
.complete {
    opacity: .5;
}

#survey {
    display: none;
}

/* */
#possible {
	    background-image: url('https://uh.edu/strategic-plan/_img/uh-sculpture-scholarship.jpg');
}

#building-top-50 {
	 background-image: url('https://uh.edu/strategic-plan/_img/opera-uh.jpg');
}

/* #top-tier .hero-photo,
#nationally-competitive .hero-photo,
#social-responsibility .hero-photo,
#athletics-program .hero-photo,
#competitive-funding .hero-photo{
	width: 100%;
} */

#fountain {
	background-image:url(https://uh.edu/strategic-plan/_img/uh-fountain-night.jpg)
}

#end-cta .col-md-12{
	padding: 3.375rem 0;
}

	#strategic-plan .nav-breadcrumb{
		display: none !important;
	}

@media (min-width: 1024px) {
	#possible .col-md-4 {
	width: 50%;
    padding-top: 100px;
	}
}

@media (min-width: 992px) {
	#top-tier .container,
#nationally-competitive .container,
#social-responsibility .container,
#athletics-program .container,
#competitive-funding .container{
	display: flex;
}
	
#top-tier, 
#nationally-competitive, 
#top-tier, 
#social-responsibility, 
#athletics-program, 
#competitive-funding{
    display: flex;
    /* align-items: center; */
    max-height: 900px;
    height: 120vh;
}

	#together, #we-are, #possible, #fountain, #building-top-50 {
		background-repeat: no-repeat;
    background-size: cover;
	}
	
}

@media (max-width:992px) {
	#top-tier .goal-container,
#nationally-competitive .goal-container,
#social-responsibility .goal-container,
#athletics-program .goal-container,
#competitive-funding .goal-container{
	width: 100%;
}
	
	#together .d-block{
		display: none !important;
	}
}

.cta-button {
    margin: 40px auto;
    padding: 1.25rem 4rem !important;
    font-weight: bold;
    font-size: 1.25rem;
    display: block;
    max-width: 30rem;
    background-color: #c8102e;
    text-align: center;
    color: #fff!important;
}
