/* custom css */

/****************************** Formatting the hero text*****************************************/
.caption-wrapper>.container>.caption  {
	background-color: rgba(0,0,0,.5);
	color: white;
    
}

@media(max-width: 767px)
{
		.cover-photo .caption-wrapper>.container>.caption, .cover-photo .caption-wrapper>.container>.caption>h2{
	background-color: transparent !important;
			color:  #63666A !important;
}
}
.page-section>.container ul li{
	margin-bottom: 12px;
}

/****************************** Formatting the landing page  image ******************************************/
.section-image{
	margin-top: 30px !important;
	border-radius: 20px !important;
	border: 3px solid silver !important;

}
/****************************** Formatting the accrodion ******************************************/

.accordion-button{
	border: 1px solid rgba(136,139,141,.4);
	color: white;
	background-color: rgba(0,179,136, 1);
}
.accordion-button:focus,
.accordion-button:not(.collapsed)
{
	background-color: rgba(0,144,144, 1);  /* #009090  Accessibility - change color slightly when focus moves to an accordion-button. */
	color: white;
}
.accordion-item{
	margin-bottom: 8px !important;
}
.accordion-body{
	background-color: rgba(0,179,136, 1);
}
.accordion-body ul{
    border: 1px solid white;
    background-color: white;
    padding: 30px;
    border-radius: 10px;	
}

/*************************** Formatting the right aside for contact page **************************/

.row aside{
	margin: 0 !important;
	padding: 0 !important;
}
aside div img{
	border-radius: 10px;
}
