.section-heading {
    text-align: center;
    width: 100%;
}

.section-paragraph {
    max-width: 740px;
    margin: 0 auto;
    font-size: 24px;
    padding-top: 1rem;
    line-height:1.4;
}

.box-container .img-container {
    margin-bottom: 0;
}

.box-container .box-title {
    background-color: #C8102E;
    margin-top: 0;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
}

.box-container .box-title a {
    width: 100%;
}

.img-container img {
    width: 100%;
}

.theme-light-gray .box-title a:not(.btn) {
    color: #fff;
}

/* Grid Stats */
ul.section-grid.section-grid-stats{
    margin: 2.25rem 0 0;
}

.section-grid-stats .stats-item {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 1rem;
}

.section-grid-stats .stats-number {
    font-size: 150px;
}

.section-grid-stats.four-column .stats-number, .section-grid-stats.three-column .stats-number, .section-grid-stats.innovation-column .stats-number {
    font-size: 104px;
}

.box-div {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

.two-column {
    align-items: center; 
}
    
.two-column li .box-div {
    height: 100%;
    height: 16.146vw;
    max-height: 310px;
}

.four-column li .box-div, .innovation-column li .box-div {
    height: 13.919vw;
    max-height: 255px;
}

.innovation-column li .box-div {
    height: 24.902vw;
    max-height: 255px;
}

.three-column li .box-div {
    max-height: 358px;
    height: 18.646vw;
}

.uh-glance-links, .academic-links, .innovation-links {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
}

.uh-glance-links li, .academic-links li, .innovation-links li {
    list-style: none;
    text-align: center;
    border-radius: 8px;
    height: 56px;
    max-width: 100%;
}

.uh-glance-links li div, .academic-links li div, .innovation-links li div {
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #C8102E;
    border-radius: 8px;
}

.uh-glance-links li a, .academic-links li a, .innovation-links li a {
    color: #fff;
    font-size: 16px;
    width: 100%;
}


@media screen and (max-width: 1920px) {
    .section-grid-stats .stats-number {
        font-size: 7.813vw;
    }
    
    .section-grid-stats.four-column .stats-number, .section-grid-stats.three-column .stats-number, .section-grid-stats.innovation-column .stats-number {
        font-size: 5.417vw;
    }
}

@media screen and (max-width: 1199px) {
    .section-grid-stats .stats-number {
        font-size: 9.766vw !important;
    }
    
    .two-column li .box-div, .four-column li .box-div {
        height: 21.973vw;
        max-height: 255px;
    }
    
    .three-column li .box-div {
        height: 24.902vw;
        max-height: 255px;
    }
    
    .two-column li:nth-of-type(even), .four-column li:nth-of-type(even), .uh-glance-links li:nth-of-type(even), .academic-links li:nth-of-type(even) {
        padding-right: 0;
    }
    
    .two-column li:nth-of-type(odd), .four-column li:nth-of-type(odd), .academic-links li:nth-of-type(odd) {
        padding-left: 0;
    }
    
    .uh-glance-links li, .academic-links li {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .uh-glance-links li:last-child {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .section-grid-stats .stats-number {
        font-size: 75px !important;
    }
    
    .two-column li .box-div, .four-column li .box-div, .three-column li .box-div, .innovation-column li .box-div {
        height: 54.286vw;
        max-height: 190px;
    }
    
    .two-column li, .four-column li, .three-column li, .innovation-column li {
        padding: 0;
    }
    
    .uh-glance-links li, .academic-links li, .innovation-links li {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
    
    .innovation-links li {
        margin-bottom: 1.5rem;
    }
}

.notable-faculty {
    text-decoration: underline;
}

/* By the numbers */
.ss-list {
    max-width: 736px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style:none;
    padding-left: 0;
}
    
.ss-list li {
    position: relative;
}

.ss-list li img {
    max-width: 90px;
    padding-bottom: 1.5rem;
}
    
.ss-list li:nth-child(2):before {
    content: '';
    position: absolute;
    left: -100%;
    top: 30%;
    transform: translate(-50%);
    border-top: 1px solid;
    width: 104px;
} 

.ss-list li:nth-child(2):after {
    content: '';
    position: absolute;
    right: -100%;
    top: 30%;
    transform: translate(50%, 50%);
    border-top: 1px solid;
    width: 104px;
}

@media screen and (max-width: 767px) {
    .ss-list {
        display: block;
    }
    
    .ss-list li {
        padding-bottom: 2rem;
    }
}

/*Virtual Tour*/
#virtual-tour-section{
    position:relative;
    padding:150px 0;
}

 a.redLink {
    color: #c8102e !important;
}
 a.whiteLink {
    color: white !important;
    width: 100%;
}
.whiteBlock {
        background: white;
        padding: 64px 90px;
        margin: 0 auto;
        width: 740px;
        text-align:center;
        border: 1px solid #707070;
    }
    
.whiteBlock .box-title {
    background-color: #C8102E;
    margin-top: 0;
    color: #fff;
    padding: 1rem 0 !important;
    text-align: center;
}
    
@media screen and (max-width:1025px){
    .whiteBlock { background: white;
    padding: 0 90px 35px 90px;
    border: 0;
    margin: 0 auto;
    width: 100% !important;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0; }
    
    #virtual-tour-section { background-attachment: scroll !important; height: 590px; border-top: 2px solid white;}
    
}

@media screen and (max-width:768px){
    .whiteBlock {padding:0;}
    .whiteBlock p {padding:0; margin:0;}
}

/* Chart and Ethnic Diversity */
#diversity {
    position: relative;
}

#chart-container p, .ethnicity-list {
    font-size: 20px;
}

#chart {
    height: 31.927vw; 
    width: 32.34vw; 
    margin: 0 auto; 
    max-width: 621px; 
    max-height: 613px;
}

.sub-title-container {
    max-width: 560px; 
    margin: 2vw auto;
}

.sub-title {
    font-size: 28px !important;
    font-weight: bold;
}

.grey-bg {
    background: #F2F2F2;
    position: absolute;
    width: 100%;
    max-width: 1560px;
    top: 5rem;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.ethnicity-list {
    display: flex; 
    column-gap: 20px; 
    justify-content: space-between;
}

.ethnicity-list ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
}


@media screen and (max-width: 1199px) {
    .grey-bg {
        max-width: 994px;
    }
    
    #chart-container .row {
        flex-direction: column-reverse;
        margin-top: 5rem;
    }
    
    .sub-title-container {
        max-width: 616px;
    }
    
    #chart {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 725px;
        max-height: 685px;
    }
}

@media screen and (max-width: 767px) {
    #chart {
        height: 84.103vw;
        width: 88.974vw;
        margin: 0 auto;
        max-width: 347px;
        max-height: 328px;
    }
    
    .ethnicity-list {
        display: block;
    }
    
    .ethnicity-list ul {
        margin: 0;
    }
    
    .sub-title-container {
        max-width: 89.74vw;
    }
}

/*Return on Investment*/
#investment {
    padding-bottom:0;
}

.investment-list {
    position: relative;
    height: 324px;
}

.investment-list ul {
    display: flex;
    position: absolute;
    list-style: none;
    top: 2rem;
    left: 10%;
    z-index: 2;
}

.investment-list ul li {
    width: 350px;
    margin: 0 1rem;
    background-color: #F5F5F5;
    align-items: center;
    height: 165px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    flex-direction: column;
}

.investment-list .arrows-desktop {
    right: 0;
    bottom: 0;
    position: absolute;
}

.investment-list .arrow-tablet, .investment-list .arrow-mobile {
    display: none;
}

@media screen and (max-width: 1400px) {
    .investment-list ul {
        left: 2rem;
    }
}

@media screen and (max-width: 1199px) {
    .investment-list .arrows-desktop {
        display: none;
    }
    
    .investment-list ul {
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        left: unset;
    }
    
    .investment-list .arrow-tablet {
        display: block;
        margin: 0 auto;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;
        top: 39%;
    }
}

@media screen and (max-width: 767px) {
    .investment-list ul {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .investment-list ul li {
        margin: 0.5rem 0;
    }
    
    .arrow-tablet {
        display: none !important;
    }
    
    .arrow-mobile {
        display: block !important;
        margin: 0 auto;
    }
    
    #investment {
        padding-bottom: 3.375rem;
    }
    
    .investment-list {
        height: initial;
    }
}
