#main-content {
	background-color:#f5f5f5;
}	
	
.tab-content {
    border: 1px solid #e9e9e9;
    padding: 30px;
	background-color: #FFF;
}	

.btn-snippet {
    display: inline-flex;
	padding: .75rem 2rem;
    border-radius: 2rem;
   	margin-left: 5px;
    margin-right: 5px;
}


.nav-pills .nav-link {
    background-color: #FFF;
    border: 1px solid #E9E9E9;
}	

	#academic-calendar .nav {
		row-gap:2px;
		column-gap:10px;
	}

	.nav-pills .nav-link {
		background-color: #FFF;
		border: 1px solid #E9E9E9;
		width: 100%;
	}


@media (min-width:768px){

	.nav-pills .nav-link {
		width: auto;
	}
	
}
	



.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    font-size: 20px;
    padding: 10px;
	min-width:300px;
}