.cover-photo {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
	background-attachment: unset!important;
}

.cover-photo img {
    margin-top: unset !important;
}

.nav-breadcrumb{
	background-color: #043057;
}

.nav-breadcrumb ol{
	color: white !important;
}

.nav-breadcrumb ol li a{
	color: #FFF9D9 !important;
    text-decoration: underline;
}

.section-heading{
	text-transform: uppercase;
}

#goal-athletics-intro {
    background-color: #c8102e;
}

#goal-athletics-intro .col-sm-12 p {
	color: white;
}

#goal-athletics-intro h2 {
	font-family: 'Crimson';
    font-style: italic;
}

#goal-athletics-intro p {
	color: white;
}

#goal-athletics-intro .container {
	max-width: 1600px !important;
	margin-left: auto;
	margin-right: auto;
	padding-right: 2.5rem;
    padding-left: 2.5rem;
}

#goal-athletics-intro {
	height: unset !important;
	padding-top: 2.375rem;
    padding-bottom: 2.375rem;
}

#goal-athletics-strategies .row {
	padding-left: calc(1.25rem - 7.5px);
    padding-right: calc(1.25rem - 7.5px);
}

#goal-athletics-strategies{
	padding-top: 3.375rem;
    padding-bottom: 3.375rem;
}

#goal-athletics-strategies .strategies-container .col-12 {
    background-color: #000;
    color: #fff;
}

.strategies-container .col-12 {
    font-family: 'Crimson';
    min-height: 390px;
}

.strategies-container p {
    font-size: 2rem;
    font-style: italic;
    line-height: 1.2;
}

.strategies-text {
    margin-bottom: 6rem;
    margin-top: 0;
}

.strategies-container p.strategies-number {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    font-style: normal;
    font-size: 5rem;
}

.strategies-container p {
    line-height: 1.2;
}

.strategies-container .col-12 {
    padding: 1rem 2rem;
    position: relative;
}

.strategies-container .col-12 {
    border: 7.5px solid #fff;
}

#goal-athletics-strategies .strategies-container .strategies-img {
    background-image: url(https://www.uh.edu/strategic-plan/goals/athletics/_images/gss-strategies.jpg);
}

#goal-athletics-milestones img{
	margin-bottom: 40px;
}

#goals-nav p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

#goals-nav{
    padding-bottom: 3.375rem;
}

#goals-nav .col-md-6:nth-of-type(2) {
    text-align: right;
}

.milestone {
    display: flex;
}

.milestone svg {
    min-width: 112px;
    margin-right: 2rem;
}

.milestone p {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.milestones-container .col-md-6 {
    margin-top: 2rem;
}

@media only screen and (max-width: 991px){
	#goals-nav .col-md-6 {
    text-align: center !important;
}

}



@media (min-width: 768px) {

	
}

@media (max-width: 768px) {
	
}